@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

body{
    background: white;
    height: 100vh;
    
}

header{
    height: 130px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}


.container__header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.logo img{
    width: 180px;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    padding: 0px 20px;
    
}

.menu nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #8C52FF;
    transition: opacity 300ms;
}

.menu nav ul li a:hover{
    opacity: 0.8;
}

#icon_menu{
    display: none;
}

/*PORTADA - COVER*/

main{
    width: 80%;
    max-width: 1200px;
    height: auto;
    
    padding: 20px;
    margin: auto;
    margin-top: 20vh;
    margin-bottom: 10vh;
}

form{
  width: 100%;
  height: 60%;
  max-height: 1000px;
  padding: 1em;
  border: 1px solid gainsboro;
  border-radius: 1em;
  background-color: #8C52FF;
  box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
  color: white;
  text-align: left;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

form div{
    padding-top: 0px;
    
}




#btn-enviar {
  border: none;
  outline: 0;
  padding: 12px;
  color: black;
  background-color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


#btn-enviar:hover {
    opacity: 0.8;
}
  
.reset {
    width: 100%;
    border: none;
    padding: 4px;
    color: black;
    margin-top: 15px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    
    font-size: 15px;

} 

.reset:hover {
    opacity: 0.8;
}

#recibir_hora{
    width: 100%;
}

footer{
    width: 100%;
    height: 350px;
    padding: 10px 0px;
    background-color: #8C52FF;
    margin-top: auto;
    

}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: white;
    font-weight: 600;
}

.box__footer a{
    margin-top: 10px;
    color: white;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 16px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    
}

.box__copyright p{
    margin-top: 20px;
    color: white;
    font-size: 12px;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: white;
}

@media (max-width: 1024px){


    
  .container__header,
  main{
      padding-left: 40px;
  }

  #icon_menu{
      display: block;
      cursor: pointer;
      font-size: 24px;
  }
  .header__register{
    display: none;
}
  .menu{
      height: 0px;
      position: absolute;
      right: 20px;
      top: 100px;
      overflow: hidden;
      z-index: 10;
      box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.5);
      transition: all 300ms;
  }

  .menu nav ul{
      margin-top: 30px;
      padding: 20px 0px;
      flex-direction: column;
      background: #fff;
  }

  .menu nav ul li{
      padding: 10px 40px;
  }

  .mostrar_menu{ 
      height: 235px;
  }

  .text__information-cover h1{
    font-size: 40px;
    }

.text__information-cover p{
    font-size: 16px;
    }

}

@media screen and (max-width:920px){
 
  
  main{
      width: 100%;
      margin-left: 0;
  }
 
  .container__footer{
      width: 100%;
      grid-template-columns: repeat (1, 1fr);
      grid-gap: 30px;
      padding: 0px 0px;
      background-color: #8C52FF;
  }
  .box__copyright{

      width: 100%;
      grid-template-columns: repeat (1, 1fr);
      grid-gap: 30px;
      padding: 0px 0px;
      padding-bottom: 10px;
      background-color: #8C52FF;
  }

}

